.inner {
  gap: var(--space-12) var(--space-6);
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  grid-column: 3;
}

.item {
  border: 1px solid var(--jt-border-subtle);
  border-radius: var(--radius-3xl);
  padding: var(--space-8);
  background: var(--jt-surface-tint);
  color: var(--jt-dark-exact);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.item:hover {
  background: var(--jt-dark-exact);
  color: var(--jt-light-exact);
  border-color: var(--jt-dark-exact);
}
.item:hover .itemTitle {
  color: var(--jt-light-exact);
}

.itemTitle {
  font-weight: var(--font-weight-600);
  margin-bottom: var(--space-2);
}

.itemDesc {
  font-size: var(--font-md);
  line-height: var(--leading-relaxed);
  line-height: var(--leading-tight);
}

@media screen and (max-width: 1299px) {
  .inner {
    grid-template-columns: 1fr;
  }
  .itemList{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .inner {
    grid-template-columns: 1fr;
  }
  .itemList {
    grid-column: unset;
  }
}

@media (max-width: 480px) {
  .item {
    padding: var(--space-6);
  }
}
