/* ══ FOOTER ══════════════════════════════════════════════════ */

.footer {
  background: var(--jt-dark-exact);
  padding-top: var(--space-20);
}

/* 2-col inner layout */
.inner {
  padding-bottom: var(--space-20);
}
.tagline {
  color: var(--jt-light-exact);
  font-size: var(--font-sm);
  margin-bottom: var(--space-9);
}
.brand {
  max-width: 390px;
}

.social li {
  border: 1px solid transparent;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: var(--radius-xl);
  -webkit-border-radius: var(--radius-xl);
  -moz-border-radius: var(--radius-xl);
  -ms-border-radius: var(--radius-xl);
  -o-border-radius: var(--radius-xl);
}
.social li:hover {
  border-color: var(--jt-border-subtle);
  background: var(--jt-neutral-300);
}
.social li a {
  line-height: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social li svg {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

/* navList css */

.navList{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-2) var(--space-6);
  padding-bottom: var(--space-8);
}

.navList li a{
  color: var(--jt-light-exact);
  font-weight: var(--font-weight-500);
  font-size: var(--font-sm);
}

.buttons{
  max-width: 410px;
  margin-left: auto;
}

.inner{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--space-2);
}

.copyrightsbar{
  background: var(--jt-neutral-900);
  color: var(--jt-light-exact);
  padding-block: var(--space-8) var(--space-4);
}

.bottominner{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--space-2);
}

.bottominner p{
  font-size: var(--font-sm);
}